<html>
<head>
  <title> 💩 an error! </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">
</head>
<body>
    <div class="container">
  <div class="two-thirds column" style="margin-top: 5%">
  <h1>💩 There has been an error</h1>
  <p> <a href="{{url_for('index')}}">Home</a> | <a href="{{url_for('bestOverall')}}">Best Overall</a> | <a href="{{url_for('mostAvailable')}}">Most Available</a> | <a href="{{url_for('mostClean')}}">Cleanest</a> | <a href="{{url_for('bestLighting')}}">Best Lighting</a> | <a href="{{url_for('mostSpace')}}">Most Spacious</a> </p>
  <h5> A system for scoring hotels.</h5>
  </div>
    <div class="row">
    <div class="two-thirds column" style="margin-top: 5%">
  <h4> {{e}}{{error}} </h4>
</div>
</div>
</div>
</body>

</html>
